{
  "engineName": "gitter-search2",
  "hostIdentifier": "host-122z7g",
  "endpointBase": "http://localhost:3002",
  "searchKey": "search-ghx86j8t2jiiug2yvtsrchty",
  "resultFields": [
    "room_name",
    "group_name",
    "username",
    "display_name",
    "message",
    "sent",
    "gitterid",
    "id"
  ],
  "sortFields": [
    "sent"
  ],
  "facets": [
    "room_name",
    "group_name",
    "username",
    "sent"
  ]
}
